{% extends 'prs/basic.html' %}
{% block title %}About Us{% endblock %}
{% block css %}
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
body{
margin:0;
padding : 0;
}
.team-section{
font-family: 'Open Sans', sans-serif;
position : fixed;
width : 100%;
min-height: 100vh;
padding:70px 15px 30px;
}
.container{
max-width: 1170px;
margin:auto;
}
.row{
display: flex;
flex-wrap: wrap;
}
.team-section .section-title{
flex-basis: 100%;
max-width: 100%;
margin-bottom: 70px;
}
.team-section .section-title h1{
font-size: 40px;
text-align: center;
margin:0;
color: #ffffff;
font-weight: 700;
}
.team-section .section-title p{
font-size:16px;
text-align: center;
margin:15px 0 0;
color:#ffffff;
}
.team-section .team-items{
flex-basis: 100%;
max-width: 100%;
display: flex;
flex-wrap: wrap;
justify-content: space-around;
}
.team-section .team-items .item{
flex-basis: calc(25% - 30px);
max-width: calc(25% - 30px);
transition: all .5s ease;
margin-bottom: 40px;
}
.team-section .team-items .item img{
display: block;
width: 100%;
border-radius: 8px;
}
.team-section .team-items .item .inner{
position: relative;
z-index: 11;
padding:0 15px;
}
.team-section .team-items .item .inner .info{
background-color: #2F4F4F;
text-align: center;
padding: 20px 15px;
border-radius:8px;
transition: all .5s ease;
margin-top: -40px;
}
.team-section .team-items .item:hover .info{
transform: translateY(-20px);
}
.team-section .team-items .item:hover{
transform: translateY(-10px);
}
.team-section .team-items .item .inner .info h5{
margin:0;
font-size: 18px;
font-weight: 600;
color: #FFFFFF;
}
.team-section .team-items .item .inner .info p{
font-size: 16px;
font-weight: 400;
color:#FFFFFF;
margin:10px 0 0;
}
.team-section .team-items .item .inner .info .social-links{
padding-top: 15px;
}
.team-section .team-items .item .inner .info .social-links a{
display: inline-block;
height: 32px;
width: 32px;
background-color: #ffffff;
color:#003399;
border-radius: 50%;
margin:0 2px;
text-align: center;
line-height: 32px;
font-size:16px;
transition: all .5s ease;
}
.team-section .team-items .item .inner .info .social-links a:hover{
box-shadow: 0 0 10px #000;
}
/*responsive*/
@media(max-width: 991px){
.team-section .team-items .item{
flex-basis: calc(50% - 30px);
max-width: calc(50% - 30px);
}
}
@media(max-width: 767px){
.team-section .team-items .item{
flex-basis: calc(100%);
max-width: calc(100%);
}
}
{% endblock %}
{% block body %}
<section class="team-section" style="background-color : DarkSlateGrey;">
    <div class="container">
        <div class="row">
            <div class="section-title">
                <h1>Our Team</h1>
                <p>Welcome to our teams page find more about each of us.</p>
            </div>
        </div>
        <div class="row">
            <div class="team-items">
                <div class="item">
                    <img src="https://drive.google.com/uc?export=view&id=1HNQrEaymg96EYXbbXm0wxjx9Ja5QMeQW" height="300" width="800" alt="team" />
                    <div class="inner">
                        <div class="info">
                            <h5>Soumodip Ghosh</h5>
                            <p>Designer</p>
                            <div class="social-links">
                                <a href="https://www.facebook.com/soumoofficial/"><span class="fa fa-facebook"></span></a>
                                <a href="https://twitter.com/Soumodi66421298"><span class="fa fa-twitter"></span></a>
                                <a href="https://www.linkedin.com/in/soumoofficial/"><span class="fa fa-linkedin"></span></a>
                                <a href="https://www.instagram.com/soumo.ghosh.359/?hl=en"><span class="fa fa-instagram"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="https://drive.google.com/uc?export=view&id=18EFc5798ZW8x8XZ7StUA41S4wni2GqeX" height="300" width="800" alt="team" />
                    <div class="inner">
                        <div class="info">
                            <h5>Sarthak Srivastava</h5>
                            <p>Designer</p>
                            <div class="social-links">
                                <a href="https://www.facebook.com/profile.php?id=100009548980154"><span class="fa fa-facebook"></span></a>
                                <a href=""><span class="fa fa-twitter"></span></a>
                                <a href="https://www.linkedin.com/in/sarthak-srivastava-50b47a205/"><span class="fa fa-linkedin"></span></a>
                                <a href="https://www.instagram.com/i_sarthak_srivastava/?hl=en"><span class="fa fa-instagram"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="https://drive.google.com/uc?export=view&id=1YW7BAqi5poCBlaL1JprVIwB8Ee26Vo29" height="300" width="800" alt="team" />
                    <div class="inner">
                        <div class="info">
                            <h5>Jayanta Dhali</h5>
                            <p>Designer</p>
                            <div class="social-links">
                                <a href="https://www.facebook.com/jayanta.choudhury.9889"><span class="fa fa-facebook"></span></a>
                                <a href=""><span class="fa fa-twitter"></span></a>
                                <a href="https://www.linkedin.com/in/jayanta-dhali-8a3326192/"><span class="fa fa-linkedin"></span></a>
                                <a href="https://www.instagram.com/jayanta__d/?hl=en"><span class="fa fa-instagram"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="https://drive.google.com/uc?export=view&id=1J_MXdMWawHNGa7osGBdwDZrINyU_bbjr" height="300" width="800" alt="team" />
                    <div class="inner">
                        <div class="info">
                            <h5>Ankita Datta</h5>
                            <p>Designer</p>
                            <div class="social-links">
                                <a href="https://www.facebook.com/ankitadofficial"><span class="fa fa-facebook"></span></a>
                                <a href=""><span class="fa fa-twitter"></span></a>
                                <a href="https://www.linkedin.com/in/ankitadofficial/"><span class="fa fa-linkedin"></span></a>
                                <a href="https://www.instagram.com/choco_pie_xd/?hl=en"><span class="fa fa-instagram"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}